/*GENERAL*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Ubuntu;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}



.row {
    align-items: center;
    margin-bottom: 3%;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 5px;
}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 4%;
}

.info {
    text-align: center;
}

.image-container {
    padding: 20px;
}

.border {
    border: 0px solid #e6dede !important;
    border-radius: 34px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #920505;
}

.nav-link {
    color: white;
    text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
    color: #636363; /*REVEER*/
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #636363; /*REVEER*/
}

.navbar-toggler {
    color: white;
}

.burguer {
    padding: 1px;
    background-color: white;
    margin-bottom: 33%;
}


/*EQUIPOS*/

.swiper {
    width: 950px;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #920505;
}

section .card .image img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
}

.card::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background: #920505;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color: #fff;
    margin-top: 10px;
    opacity: 0.6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 18px;
    color: black;
    margin: 0 2px;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: #920505;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button::hover {
    background: #5f0303;
    
}